<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               안녕하세요! Backend 개발자 심예은입니다. 주 언어는 node.js이지만 평소 다양한 언어와 기술에 대해 관심을 두고 있는 개발자입니다.
            </p>
            <p class="paragraph-text justify-text">
                저는 끊임없이 소통하며 공유하는 업무 방식을 지향합니다. 그래서 기술/업무 적인 대화 뿐만이 아니라 다양한 주제에 대해 대화하는 것을 좋아합니다. 이러한 점들이 회사 생활하면서 나이, 직급 관계없이 두루두루 친하게 지낼 수 있는 것 같습니다.
            </p>
            <p class="paragraph-text justify-text">
                저에 대해 궁금하시다면! 계속해서 스크롤 부탁드려요!^_^
            </p>
        </div>
    </section>
</div>
